In [ ]:
A = 
B = A+4
C = 2.5A

A+B + 6 = C
2A + 10 = C

2A + 10 = 2.5A
10 = 0.5 A

A = 20
C = 

5C + 16 = C

In [144]:
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt

In [145]:
import pandas as pd

In [146]:
survey = pd.read_csv("/Users/elliott.botwick@ibm.com/Documents/Udacity/Data Sets/survey-results-public.csv")

In [147]:
survey.PronounceGIF.value_counts()

With a hard "g," like "gift"              33484
With a soft "g," like "jiff"              13408
Enunciating each letter: "gee eye eff"     3085
Some other way                             1031
Name: PronounceGIF, dtype: int64

In [148]:
import numpy as np

In [149]:
[print(survey.PronounceGIF.value_counts(). index[value], ": ", np.around(survey.PronounceGIF.value_counts().values[value]/len(survey)*100, 2), "%") for value in range(len(survey.PronounceGIF.value_counts().values))]

With a hard "g," like "gift" :  65.15 %
With a soft "g," like "jiff" :  26.09 %
Enunciating each letter: "gee eye eff" :  6.0 %
Some other way :  2.01 %

[None, None, None, None]

In [150]:
weirdAnswer = """Enunciating each letter: "gee eye eff" """

In [151]:
weirdAnswer.strip()

'Enunciating each letter: "gee eye eff"'

In [152]:
weird = survey[survey.PronounceGIF==weirdAnswer.strip()]

In [153]:
weird_wGender = weird[weird.Gender.notnull()]
GenderedSurvey = survey[survey.Gender.notnull()]

In [154]:
weird.shape

(3085, 154)

In [155]:
weird_wGender.shape

(1623, 154)

In [156]:
survey.Gender.value_counts()

Male                                                       31589
Female                                                      2600
Other                                                        225
Male; Other                                                  171
Gender non-conforming                                        160
Male; Gender non-conforming                                   65
Female; Transgender                                           56
Transgender                                                   55
Female; Gender non-conforming                                 29
Male; Female                                                  15
Male; Female; Transgender; Gender non-conforming; Other       15
Transgender; Gender non-conforming                            15
Male; Transgender                                             11
Female; Transgender; Gender non-conforming                     8
Male; Female; Transgender; Gender non-conforming               7
Male; Female; Transgender                                      4
Gender non-conforming; Other                                   4
Male; Transgender; Gender non-conforming                       4
Male; Gender non-conforming; Other                             3
Male; Female; Other                                            2
Female; Transgender; Gender non-conforming; Other              1
Female; Transgender; Other                                     1
Female; Other                                                  1
Female; Gender non-conforming; Other                           1
Transgender; Other                                             1
Male; Female; Gender non-conforming; Other                     1
Male; Female; Gender non-conforming                            1
Male; Transgender; Other                                       1
Male; Female; Transgender; Other                               1
Name: Gender, dtype: int64

In [157]:
survey.shape[0]- survey.Gender.isnull().sum()

35047

In [158]:
survey.Gender.value_counts().values.sum()

35047

In [159]:
[print (GenderedSurvey.Gender.value_counts(). index[value], ": ", np.around(GenderedSurvey.Gender.value_counts().values[value]/len(GenderedSurvey)*100, 2), "%") for value in range(len(GenderedSurvey.Gender.value_counts().values))]

Male :  90.13 %
Female :  7.42 %
Other :  0.64 %
Male; Other :  0.49 %
Gender non-conforming :  0.46 %
Male; Gender non-conforming :  0.19 %
Female; Transgender :  0.16 %
Transgender :  0.16 %
Female; Gender non-conforming :  0.08 %
Transgender; Gender non-conforming :  0.04 %
Male; Female :  0.04 %
Male; Female; Transgender; Gender non-conforming; Other :  0.04 %
Male; Transgender :  0.03 %
Female; Transgender; Gender non-conforming :  0.02 %
Male; Female; Transgender; Gender non-conforming :  0.02 %
Male; Transgender; Gender non-conforming :  0.01 %
Gender non-conforming; Other :  0.01 %
Male; Female; Transgender :  0.01 %
Male; Gender non-conforming; Other :  0.01 %
Male; Female; Other :  0.01 %
Male; Female; Transgender; Other :  0.0 %
Female; Transgender; Other :  0.0 %
Female; Gender non-conforming; Other :  0.0 %
Female; Other :  0.0 %
Male; Female; Gender non-conforming :  0.0 %
Male; Transgender; Other :  0.0 %
Male; Female; Gender non-conforming; Other :  0.0 %
Female; Transgender; Gender non-conforming; Other :  0.0 %
Transgender; Other :  0.0 %

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [160]:
[print (Genderedfreaks.Gender.value_counts().index[value], ": ", np.around(Genderedfreaks.Gender.value_counts().values[value]/len(Genderedfreaks)*100, 2), "%") for value in range(len(Genderedfreaks.Gender.value_counts().values))]

Male :  89.16 %
Female :  9.06 %
Gender non-conforming :  0.49 %
Male; Other :  0.37 %
Other :  0.31 %
Male; Gender non-conforming :  0.25 %
Female; Transgender :  0.12 %
Male; Female; Transgender :  0.06 %
Male; Female :  0.06 %
Transgender :  0.06 %
Male; Female; Transgender; Gender non-conforming :  0.06 %

[None, None, None, None, None, None, None, None, None, None, None]

In [162]:
survey.Gender.isna().sum()

16345

In [163]:
survey.Professional.mode()

0    Professional developer
dtype: object

In [164]:
survey_imputed = survey[['Gender', 'CompanySize']].apply(lambda col: col.fillna(col.mode()[0]))

In [165]:
survey[['Gender', 'CompanySize']].apply(lambda col: print(col.mode()[0]))

Male
20 to 99 employees

Gender         None
CompanySize    None
dtype: object

In [166]:
survey[['Gender', 'Professional']].apply(lambda col: col.mode())

  Gender            Professional
0   Male  Professional developer

In [167]:
survey.CompanySize.mode()

0    20 to 99 employees
dtype: object

In [168]:
survey_imputed.head(20)

    Gender               CompanySize
0     Male        20 to 99 employees
1     Male        20 to 99 employees
2     Male  10,000 or more employees
3     Male  10,000 or more employees
4     Male        10 to 19 employees
5     Male        20 to 99 employees
6     Male        20 to 99 employees
7     Male   Fewer than 10 employees
8     Male  5,000 to 9,999 employees
9     Male        20 to 99 employees
10  Female      100 to 499 employees
11    Male      100 to 499 employees
12    Male        20 to 99 employees
13  Female   Fewer than 10 employees
14    Male  5,000 to 9,999 employees
15    Male        20 to 99 employees
16    Male        20 to 99 employees
17    Male  1,000 to 4,999 employees
18    Male  10,000 or more employees
19    Male   Fewer than 10 employees